.cardcomponent{
    color: white;
    background-color: #1c1c1e;
    height: 400px;
    width: 250px;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 20px;
}

.cardcomponentImage{
    width: 100%;
}

.cardcomponentInfo{    
    padding: 10px;    
}

.cardcomponentPriceComponent{
    display: flex;
    flex-direction: row;  
    margin-top: 20px;          
}

.cardcomponentPrice{
    margin-top: 5px;
    color: #a1a5b0;
}

.cardcomponentEthLogo{
    height: 20px;
    margin-right: 10px;
}

