.app{
  margin: 0;
  background-color: #000000;    
  padding: 20px;
}

.app__cards{
  display: flex;  
  overflow:scroll;
  cursor: pointer;
  border-top: 1px solid white;
  padding-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.app__cards::-webkit-scrollbar{
  display: none;
}